<div class="demo-container clocks active bounce">
  <article class="clock station local">
    <section class="label">Time</section>
    <section class="hours-container">
      <section class="hours" ng-style="{'transform' : hours_style, 'webkitTransform': hours_style}"></section>
    </section>
    <section class="minutes-container" ng-style="{'transform': mins_container_style, 'webkitTransform': mins_container_style}">
      <section class="minutes" ng-style="{'transform' : minutes_style, 'webkitTransform': minutes_style}"></section>
    </section>
    <section class="seconds-container" ng-style="{'transform': secs_container_style, 'webkitTransform': secs_container_style}">
      <section class="seconds" ng-style="{'transform' : seconds_style, 'webkitTransform': seconds_style}"></section>
    </section>
  </article>
</div>
