<div id="twitter-container">
    <span class="first">
        <p ng-hide="search">Twits</p>
        <input ng-show="search" name="search" ng-model="twitSearch">
        <button ng-show="search" ng-click="searchTweets(twitSearch)">Search</button>
        <span class="icon-edit new" ng-click="search=!search"></span>
    </span>
    <ul class="timeline">
		<li ng-repeat="tweet in tweets">
			<div class="avatar">
                <img src={{tweet.user.profile_image_url}}>
			</div>
			<div class="bubble-container">
				<div class="bubble">
					<h3>{{tweet.user.screen_name}}</h3>
                    <br/>
				    {{tweet.text}}
				</div>

				<div class="arrow"></div>
			</div>
		</li>
    </ul>

</div>
