<div class='app'>
    <div class='top'>
         <div class='buttons'>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
        <div class='title'>
            <input id="title" type='text' name='title' ng-model='title'>
        </div>
        <div class='info'>
            Saved
        </div>
        <button class="btn" ng-click='saveNote(title, content)'>Save</button>
        <button ui-sref="index">View all</button>
        <div class='clear'></div>
    </div>
    <div class='main'>
        <p class='words'>220 words</p>
        <div class='content'>
            <h1>Title</h1>
            <input id="content" type='text' name='content' ng-model='content'>
        </div>
    </div>
</div>
