<div>
    <div class="input-group">
        <label for='title'> Title </label>
        <input id="title" type='text' name='title' ng-model='title'>
        <br>
    </div>
    <div class="input-group">
        <label for='content'> Note </label>
        <input id="content" type='text' name='content' ng-model='content'>
        <br>
    </div>
    <div class="input-group">
        <button class="btn" ng-click='saveNote(title, content)'>Save</button>
    </div>
    <button ui-sref="index">View all</button>
</div>
