
<div class='app'>
    <div class='top'>
         <div class='buttons'>
            <div class='circle'></div>
            <div class='circle'></div>
            <div class='circle'></div>
        </div>
        <div class='title'>
            Edit
        </div>
        <div class='info'>

        </div>
        <button class="btn" ng-click='updateNote(noteTitle, noteContent)'>Save</button>
        <button ui-sref="index">View all</button>
        <div class='clear'></div>
    </div>
    <div class='main'>
        <p class='words'>--</p>
        <div class='content'>
            <h3 id="title" ng-model='noteTitle' contenteditable="true" onclick='$(this).focus();'></h3>
            <p id="content" contenteditable="true" ng-model='noteContent' onclick='$(this).focus();'></p>
        </div>
    </div>
</div>
