#snake-widget {
  background-color: #EFFFE9;
  height: 325px;
  width: 300px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px #333;
  background: rgba(255, 255, 255, 0.95); }
  #snake-widget button {
    border: none;
    cursor: pointer;
    width: 86px;
    height: 26px;
    background: #ff9fa8;
    border-radius: 3px;
    box-shadow: 0px 4px #ff7c87;
    margin: 0 0 11px 100px;
    color: white;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease; }
  #snake-widget button:hover {
    background: #f68991;
    box-shadow: 0px 4px #d3545d;
    color: white; }
  #snake-widget #board {
    margin: 0 12px 0 13px; }

#notes-widget,
#snake-widget,
#twitter-widget,
#calculator-widget {
  display: inline-block; }

#clock-widget {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

#notes-widget {
  position: relative;
  left: 400px;
  z-index: 101; }

html,
body {
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: 'Quicksand';
  color: #7f8c8d;
  font-size: 14px;
  background: rgba(1, 22, 39, 0.85);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#calculator {
  width: 286px;
  height: auto;
  margin: 30px auto;
  padding: 20px 20px 9px;
  background: #9dd2ea;
  background: linear-gradient(#9dd2ea, #5E9EBB);
  border-radius: 3px;
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2); }

/* Top portion */
.top span.clear {
  float: left; }

.top .output {
  height: 40px;
  width: 212px;
  float: right;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  line-height: 40px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  letter-spacing: 1px; }

/* Clear floats */
.keys,
.top {
  overflow: hidden; }

.keys span,
.top span.clear {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  width: 66px;
  height: 36px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 7px 11px 0;
  color: #888;
  line-height: 36px;
  text-align: center;
  user-select: none;
  transition: all 0.2s ease; }

.keys span.operator {
  background: #EBF796;
  margin-right: 0; }

.keys span.eval {
  background: #f1ff92;
  box-shadow: 0px 4px #9da853;
  color: #888e5f; }

.top span.clear {
  background: #ff9fa8;
  box-shadow: 0px 4px #ff7c87;
  color: white; }

/* Some hover effects */
.keys span:hover {
  background: #ffc952;
  box-shadow: 0px 4px #d59b1b;
  color: white; }

.keys span.eval:hover {
  background: #abb850;
  box-shadow: 0px 4px #717a33;
  color: #ffffff; }

.top span.clear:hover {
  background: #f68991;
  box-shadow: 0px 4px #d3545d;
  color: white; }

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
  box-shadow: 0px 0px #6b54d3;
  top: 4px; }

.keys span.eval:active {
  box-shadow: 0px 0px #717a33;
  top: 4px; }

.top span.clear:active {
  top: 4px;
  box-shadow: 0px 0px #d3545d; }

.form-wrapper {
  width: 320px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 85px; }

.form-wrapper input {
  width: 200px;
  height: 20px;
  margin-top: 12px;
  padding: 7px 5px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }

.form-wrapper input:focus {
  outline: 0; }

.form-wrapper button {
  outline: 0;
  overflow: visible;
  position: relative;
  float: right;
  margin-top: 12px;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 34px;
  width: 110px;
  font: bold 13px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #ff7c87;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }

.form-wrapper button:hover {
  background: #ff9fa8;
  outline: 0; }

.form-wrapper button:before {
  outline: 0;
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #ff7c87 transparent;
  top: 10px;
  left: -6px; }

.form-wrapper button:hover:before {
  outline: 0;
  border-right-color: #ff9fa8; }

#twitter-widget ::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

#twitter-widget h3 {
  margin-top: 0; }

#twitter-widget .bubble {
  width: 85%;
  padding: .5em 1em;
  line-height: 1.4em;
  padding: 20px;
  background-color: #ecf0f1;
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-align: left;
  display: inline-block; }

#twitter-widget .bubble:hover > .over-bubble {
  opacity: 1; }

#twitter-widget .bubble-container {
  width: 80%;
  display: block;
  position: relative;
  padding-left: 25px;
  vertical-align: top;
  display: inline-block; }

#twitter-widget .arrow {
  content: '';
  display: block;
  position: absolute;
  left: 12px;
  bottom: 25%;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ecf0f1; }

#twitter-widget .timeline {
  width: 500px;
  height: 400px;
  overflow: scroll;
  display: block;
  margin: auto;
  background-color: #dde1e2;
  padding-bottom: 2em;
  padding-left: 0;
  list-style-type: none;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px; }
  #twitter-widget .timeline li {
    padding: 1em 0; }
  #twitter-widget .timeline li:nth-child(even) {
    background-color: #d3d7d8; }

#twitter-widget .avatar {
  width: 12%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 2%; }
  #twitter-widget .avatar img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ecf0f1;
    position: relative; }

#twitter-widget .avatar:hover > .hover {
  cursor: pointer;
  opacity: 1; }

#twitter-widget .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3498db;
  top: 0;
  font-size: 1.8em;
  border: 5px solid #5cc0ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: white;
  padding-top: 24%;
  opacity: 0;
  font-family: 'FontAwesome';
  font-weight: 300;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

#twitter-widget .first {
  width: 500px;
  height: 60px;
  display: block;
  margin: auto;
  background: rgba(94, 158, 187, 0.9);
  text-shadow: #2084c7 1px 1px 0;
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 1.6em;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  position: relative; }
  #twitter-widget .first p {
    display: inline-block;
    margin: 15px; }
  #twitter-widget .first .icon-edit {
    margin-top: 18px; }

#twitter-widget .icon-twitter {
  font-size: 1.5em; }

#twitter-widget .new {
  position: absolute;
  right: 5%; }

#twitter-widget h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Lato';
  display: inline-block;
  margin-bottom: .2em;
  color: #95a5a6; }

.demo-container.clocks {
  background: rgba(46, 196, 182, 0);
  padding: 0;
  width: 250px;
  height: 220px;
  margin: 0 0 2px 0;
  overflow: hidden; }

.clock {
  border-radius: 50%;
  border: 2px solid #ff7c87;
  background: radial-gradient(#000, #000 0.1em, #fff 0.1em, #fff), #fff;
  display: inline-block;
  margin: 1% 1% 1% 13%;
  padding-bottom: 65%;
  position: relative;
  top: 50%;
  width: 65%;
  transform: translateY(-40%);
  z-index: 10; }

.clock::after {
  background: #ff7c87;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4%;
  height: 4%;
  z-index: 10; }

.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hours-container {
  animation: rotate 43200s infinite linear; }

.linear.minutes-container {
  animation: rotate 3600s infinite linear; }

.linear.seconds-container {
  animation: rotate 60s infinite linear; }

.steps {
  animation: rotate 60s infinite steps(60); }
  .steps .minutes-container {
    animation: rotate 3600s infinite steps(60); }

.local.steps.minutes-container {
  animation: none; }

.bounce.minutes-container {
  transition: transform 0.3s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

.bounce.seconds-container {
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

.hours {
  background: #000;
  width: 3.5%;
  height: 40%;
  position: absolute;
  left: 48.25%;
  top: 22%;
  transform-origin: 50% 71%; }

.minutes {
  background: #000;
  width: 3.5%;
  height: 55%;
  position: absolute;
  left: 48.25%;
  top: 7%;
  transform-origin: 50% 78.5%; }

.seconds {
  background: #ff7c87;
  width: 1.5%;
  height: 42%;
  position: absolute;
  left: 49.25%;
  top: 20%;
  transform-origin: 50% 71%;
  z-index: 8; }

@keyframes rotate {
  100% {
    transform: rotateZ(360deg); } }

.clock.station {
  background: #fff url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) no-repeat center;
  background-size: 95%;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2) inset; }

.clock.station .seconds::before {
  background: #ff7c87;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -9%;
  left: -200%;
  height: 18%;
  width: 500%; }

.hours.angled {
  transform: rotateZ(-40deg); }

.minutes.angled {
  transform: rotateZ(40deg); }

#notes-widget {
  margin: 0;
  font-family: 'Source Code Pro'; }
  #notes-widget p {
    color: #444;
    display: inline-block; }
  #notes-widget a:hover {
    background-color: rgba(46, 196, 182, 0.9);
    transition: all 0.2s ease; }
  #notes-widget .italic {
    color: #999;
    font-style: italic; }
  #notes-widget h1 {
    color: #454647;
    font-size: 24px; }
  #notes-widget .topbar {
    padding-left: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    height: 30px;
    font-size: 20px;
    line-height: 1.5; }
  #notes-widget .app {
    position: absolute;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    width: 550px;
    box-shadow: 0 0 20px #333; }
  #notes-widget .larger {
    width: 1000px; }
  #notes-widget .top {
    cursor: move;
    position: relative;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    padding: 10px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #notes-widget .buttons {
    position: relative;
    float: left;
    width: 33%;
    z-index: 1; }
  #notes-widget .circle {
    float: left;
    margin: 4px 16px 0 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer; }
  #notes-widget .circle:nth-child(1) {
    background: #FF5E51; }
  #notes-widget .circle:nth-child(1):hover {
    background: #ea1100; }
  #notes-widget .circle:nth-child(2) {
    background: #FEBB00; }
  #notes-widget .circle:nth-child(2):hover {
    background: #987000; }
  #notes-widget .circle:nth-child(3) {
    background: #18CF37; }
  #notes-widget .circle:nth-child(3):hover {
    background: #0d741f; }
  #notes-widget .clear {
    clear: left; }
  #notes-widget .title {
    z-index: 0;
    color: #888;
    float: left;
    width: 33%;
    text-align: center;
    margin-left: -10px; }
  #notes-widget .info {
    color: #BFBFCF;
    width: 33%;
    float: right;
    text-align: right; }
  #notes-widget .words {
    color: #ccc;
    margin-top: 0;
    float: right; }
  #notes-widget .main {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 50px 40px;
    background: #f9f8f7;
    width: 100%;
    overflow: scroll; }
  #notes-widget ::-webkit-scrollbar {
    width: 0px;
    background: transparent; }
  #notes-widget .content {
    margin-top: 40px;
    height: 170px; }
  #notes-widget .add-note-btn {
    margin-left: 115px; }
  #notes-widget button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    outline: 0;
    transition: all 0.2s ease; }
  #notes-widget button:hover {
    background: rgba(232, 90, 113, 0.9); }
  #notes-widget button span {
    color: #FFF;
    font-size: 14px;
    text-shadow: 0 0 8px #333; }
